{% extends 'base/temp.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock extrahead %}
{% block content %}
    <div class="container-fluid">
        <h1 class="display-1 text-center">Perfil</h1>
        <hr>
        <div class="d-flex justify-content-around">
            <div>
                <h3>Rol: {{extend.id_rol}}</h3>
                <h3>Carrera: {{extend.carrera}}</h3>
                <h3>Email: {{user.email}}</h3>
                <h3>Nivel: {{niv.nivel}}</h3>
            </div>
            <div class="vt"></div>
            <div>
                <a class="btn btn-dark btn-block" href="">Editar Perfil</a>
            </div>
        </div>
    </div>
{% endblock content %}