#botón {
    text-align: center;
    color: ivory;
    background-color: black;
}
.drop {
    width: 350px;
    height: 50px;
    padding: 8px;
    border: 1px solid #aaaaaa;
    text-align: justify;
}
.col {
    height: 50px;
}
#tit {
    text-align: center;
    border: 1px solid black;
}

#cont {
    border: 1px solid black;
}

.code.over {
    border: 2px dashed #000;
}

.rv.over {
    border: 2px dashed #000;
}